@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-brand img{
    width: 75px;
}

.navbar {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar li:hover {
    background: radial-gradient(#ececec, #ffffff);
    border-radius: 20px;
}

.navbar-user {
    margin-left: auto;
    padding-right: 20px;
}

.navbar-blank {
    padding: 0 0.5em;
}

.form-login {
    width: 25%;
    margin: 30px auto 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0.375rem;
}

.form-login h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-login input {
    margin-bottom: 10px;
}

.form-login button {
    width: 100%;
}

.form-login .alert {
    margin-top: 20px;
}
